<div class="" style="margin: 50px auto; width: 540px;">
  <div class="vertical-step-component complete  first-step">
    <div class="step-progress">
      <div class="step-stroke-top"></div>
      <div class="step-indicator-component">
        <svg
          class="svgResultStatus "
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="32"
          height="32"
          focusable="false"
        >
          <title>not_built</title>
          <g transform="translate(12 12) ">
            <g class="progress-spinner not_built">
              <circle cx="0" cy="0" r="10.25" stroke-width="3.5"></circle>
              <circle
                class="inner"
                cx="0"
                cy="0"
                r="3.4166666666666665"
              ></circle>
            </g>
          </g>
        </svg>
        <!-- <svg class="svgResultStatus " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32"
                    height="32" focusable="false">
                    <title>success</title>
                    <g transform="translate(12 12) ">
                        <g class="svgResultStatus">
                            <circle cx="0" cy="0" r="12" class="circle-bg success"></circle>
                            <g class="result-status-glyph">
                                <polygon points="-2.00 2.80 -4.80 0.00 -5.73 0.933 -2.00 4.67 6.00 -3.33 5.07 -4.27">
                                </polygon>
                            </g>
                        </g>
                    </g>
                </svg> -->
      </div>
      <div class="step-stroke-bottom"></div>
    </div>
    <div class="step-content">
      <h4>Select Techstack</h4>
      <div class="scm-provider-list fs-18">
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
      </div>
    </div>
  </div>
  <div class="sandbox-component ">
    <div class="multi-step-flow-component creation-steps">
      <div class="vertical-step-component active git-step-connect">
        <div class="step-progress">
          <div class="step-stroke-top"></div>
          <div class="step-indicator-component">
            <svg
              class="svgResultStatus "
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              focusable="false"
            >
              <title>not_built</title>
              <g transform="translate(12 12) ">
                <g class="progress-spinner not_built">
                  <circle cx="0" cy="0" r="10.25" stroke-width="3.5"></circle>
                  <circle
                    class="inner"
                    cx="0"
                    cy="0"
                    r="3.4166666666666665"
                  ></circle>
                </g>
              </g>
            </svg>
          </div>
          <div class="step-stroke-bottom"></div>
        </div>
        <div class="step-content">
          <h4>Where do you store your code?</h4>
          <div class="scm-provider-list fs-18">
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
          </div>
        </div>
      </div>
      <div
        class="vertical-step-component incomplete git-step-completed last-step"
      >
        <div class="step-progress">
          <div class="step-stroke-top"></div>
          <div class="step-indicator-component">
            <svg
              class="svgResultStatus "
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              focusable="false"
            >
              <title>running</title>
              <g transform="translate(12 12) ">
                <g class="progress-spinner running">
                  <circle cx="0" cy="0" r="10.25" stroke-width="3.5"></circle>
                  <circle
                    class="inner"
                    cx="0"
                    cy="0"
                    r="3.4166666666666665"
                  ></circle>
                  <path
                    class="running"
                    fill="none"
                    stroke-width="3.5"
                    d="M 6.276314845630185e-16 10.25 A 10.25 10.25 0 0 0 6.276314845630185e-16 -10.25"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="step-stroke-bottom"></div>
        </div>
        <div class="step-content">
          <h4>Completed</h4>
        </div>
      </div>
    </div>
  </div>
</div>
