.vertical-step-component {
  display: flex;
  .step-progress {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    .step-stroke-top {
      width: 3px;
      height: 5px;
      background-color: #949393;
    }
    .step-stroke-bottom {
      width: 3px;
      flex-grow: 1;
      background-color: #949393;
    }
    .step-indicator-component {
      .svgResultStatus {
        display: block;
        > circle {
          stroke: white;
          stroke-width: 2px;
          &.success {
            fill: #8cc04f;
          }
        }
      }
    }
  }
  .step-content {
    width: 100%;
    min-height: 75px;
    padding-bottom: 30px;
  }
  &.active {
    .svgResultStatus .progress-spinner.not_built circle:first-child {
      stroke: #f09932;
    }
    .step-stroke-bottom {
      opacity: 0.4;
    }
  }
  .incomplete {
    position: relative;
    z-index: -1;
  }
  &.first-step .step-progress .step-stroke-top {
    background: transparent;
    border: 0;
  }
  &.last-step .step-progress .step-stroke-bottom {
    background: transparent;
    border: 0;
  }
}
.vertical-step-component.incomplete .step-progress,
.vertical-step-component.incomplete .step-content {
  opacity: 0.4;
}
.progress-spinner circle.inner,
.progress-spinner.running.spin circle.inner {
  display: none;
  animation: progress-spinner-pulsate 1.2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
.progress-spinner.not_built circle,
.progress-spinner.skipped circle {
  fill: none;
  stroke: #949393;
}
.result-status-glyph {
  stroke: none;
  fill: #fff;
}
.vertical-step-component.first-step .step-stroke-top {
  background: transparent;
  border: 0;
}
.svgResultStatus {
  transform: translateZ(0);
}
svg:not(:root) {
  overflow: hidden;
}
.scm-provider-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.progress-spinner.running circle {
  fill: none;
  stroke: #f0bf84;
}
.progress-spinner.running path {
  fill: none;
  stroke: #f0a448;
}
.progress-spinner.running circle.inner {
  display: block;
  fill: #f09322;
  stroke: #f09322;
}
@keyframes progress-spinner-pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
