<!-- <app-header [isSignOutButton]="isSignOutButton"></app-header> -->
<div class="off-canvas-sidebar">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand nav-logo d-flex align-items-center justify-content-center" href="javascript:;">
                    <img src="{{ logo }}" alt="Clix-logo" style="width: 39px;" /> Sysj
                </a>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter reg-page" filter-color="black" style=" background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                        <form class="form login-form" [formGroup]="domainCheck" *ngIf="!isShow" (keydown)="EnterSubmit($event)">
                            <div class="card card-login">
                                <div class="card-header card-header-rose clix-bg-primary text-center">
                                    <h4 class="card-title pb-3">Sign in to your organization</h4>
                                </div>
                                <div class="card-body ">
                                    <p class="card-description text-center">Enter your domain name</p>
                                    <span class="bmd-form-group">
                    <div>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">domain</i>
                          </span>
                                </div>
                                <input type="text" name="domainName" autocomplete="off" id="domainName" [(ngModel)]="domainName" required maxlength="50" formControlName="domain_check" appInputHandler class="form-control form-control-lg" placeholder="Domain Name" [ngClass]="{ 'is-invalid': submitted && g.domain_check.errors }">
                                <div *ngIf="submitted && g.domain_check.errors" class="invalid-feedback pl-5">
                                    <div *ngIf="g.domain_check.errors.required">
                                        Domain name is required.
                                    </div>
                                </div>
                            </div>
                    </div>
                    </span>
                </div>
                <div class="card-footer justify-content-center text-center pb-4 flex-column">
                    <button type="button" (click)="checkDomain()" class="py-2 btn btn-primary px-3 mb-3">Search</button>
                    <p> Don’t know your organization's url? <a href="javascript:void(0);" (click)="forgotClixName()">find
                      your
                      organization</a>
                    </p>
                </div>
            </div>
            </form>
            <form class="form login-form" [formGroup]="domainFrm" *ngIf="isShow" >
                <div class="card card-login">
                    <div class="card-header card-header-rose clix-bg-primary text-center">
                        <h4 class="card-title">Find your organization url</h4>
                    </div>
                    <div class="card-body ">
                        <p class="card-description text-center">Please enter the email address associated with your account and we'll remind you</p>
                        <span class="bmd-form-group">
                          <div [ngClass]="{ 'is-invalid': (domainName === null || domainName === '') }">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">domain</i>
                                </span>
                          </div>
                          <input type="text" name="domain_name" autocomplete="off" class="custom-input--element" id="domain_name" formControlName="domain_name" required minlength="5" maxlength="50" appInputHandler class="form-control form-control-lg" placeholder="Email Address..." [ngClass]="{ 'is-invalid': emailSubmitted && f.domain_name.errors }">
                          <div *ngIf="emailSubmitted && f.domain_name.errors" class="invalid-feedback">
                              <div *ngIf="f.domain_name.errors.required">
                                  Email is required.
                              </div>
                              <div *ngIf="f.domain_name.errors.pattern">
                                  Email address is not valid. Email must match "xxx@xxx.x" pattern.
                              </div>
                          </div>
                      </div>
              </div>
              </span>
          </div>
          <div class="card-footer justify-content-center text-center pb-4 flex-column">
              <button type="button" class="py-2 btn btn-primary px-3" (click)="checkEmail()">
                          Continue with email
                        </button>
              <p class="fs-16">
                  Looking to create a organization instead? <a href="javascript:void(0)" (click)="mainRoute()">
                            create organization
                          </a>
              </p>
              <p class="fs-16">
                  Already have an account? <a href="javascript:void(0)" (click)="forgotClixName()">
                            signin
                          </a>
              </p>
          </div>
      </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="login-wrapper">
    <!-- <div class="login-card" *ngIf="!isShow">
    <img src="{{ logo }}" alt="Clix-logo" />
    <h2 class="text-center">Sign in to your organization</h2>
    <p>Enter your organization's URL</p>
    <form class="login-form">
      <div [ngClass]="{ 'is-invalid': (domainName === null || domainName === '') }">
        <div class="custom-input--group">

          <input type="text" name="domainName" autocomplete="off" class="custom-input--element"
            id="domainName" [(ngModel)]="domainName" required minlength="5" maxlength="50" appInputHandler />
          <label class="custom-input--label" for="domainName">Domain Name</label>
        </div>
      </div>
      <button type="button" class="clix-btn clix-btn--primary clix-btn--lg" (click)="checkDomain()">
        Search
      </button>
      <p> Don’t know your organizations URL? <a href="javascript:void(0);" (click)="forgotClixName()">Find your
          organization</a>
      </p>
    </form>
  </div> -->
    <!-- <div class="login-card" *ngIf="isShow">
    <img src="{{ logo }}" alt="Clix-logo" />
    <h2 class="text-center">Find you organization URL</h2>
    <p>Please enter the email address associated with your account and
      we'll remind you</p>
    <form class="login-form" [formGroup]="domainFrm">
      <div [ngClass]="{ 'is-invalid': submitted && f.domain_name.errors }">
        <div class="custom-input--group">

          <input type="text" name="domain_name" autocomplete="off" class="custom-input--element" id="domain_name"
            formControlName="domain_name" required minlength="5" maxlength="50" appInputHandler />
          <label class="custom-input--label" for="domain_name">Email Address</label>
        </div>
        <div *ngIf="submitted && f.domain_name.errors" class="error-message">
          <div *ngIf="f.domain_name.errors.required">
            Email is required
          </div>
          <div *ngIf="f.domain_name.errors.pattern">Enter valid Email</div>
        </div>
      </div>
      <button type="button" class="clix-btn clix-btn--primary clix-btn--lg" (click)="checkEmail()">
        Continue with Email
      </button>
      <p class="fs-16">
        Looking to create a organization instead? <a href="javascript:void(0)" (click)="mainRoute()">
          Create Organization
        </a>
      </p>
      <p class="fs-16">
        Aleady have an account? <a href="javascript:void(0)" (click)="forgotClixName()">
          Signin
        </a>
      </p>
    </form>
  </div> -->
</div>