pipelines:
  default:
    - step:
        name: Build Angular App
        image: node:14.15.1
        runs-on:
          - self.hosted
          - linux
        caches:
          - node
        script:
          - echo "Installing Angular CLI"
          - npm install -g @angular/cli@12
          - echo "Installing dependencies"
          - npm install
          - echo "Building Angular app"
          - ng build --configuration production
          - echo "Copying dist to Docker context"
          - mkdir docker
          - cp -r dist/publicpages/* docker/
          - cp default.conf docker/default.conf
        artifacts:
          - docker/**

    - step:
        name: Build and Push Docker Image to ECR
        image: devivaralakshmi/images:cli
        runs-on:
          - self.hosted
          - linux
        services:
          - docker
        script:
          - echo "Authenticating to ECR"
          - aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com
          - export IMAGE_TAG=ang-publicpages-$BITBUCKET_BUILD_NUMBER
          - export IMAGE_URI=$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_NAME:$IMAGE_TAG
          - echo "Copying Dockerfile"
          - cp Dockerfile docker/
          - cd docker
          - echo "Building Docker image"
          - docker build -t $IMAGE_URI .
          - echo "Pushing Docker image to ECR"
          - docker push $IMAGE_URI 
          - git clone https://$REPO_A_USERNAME:$REPO_A_APP_PASSWORD@bitbucket.org/$REPO_A_WORKSPACE/$REPO_A_SLUG.git
          - cd $REPO_A_SLUG
          - sed -e "s|imagehere|${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:ang-publicpages-$BITBUCKET_BUILD_NUMBER|g" ang-publicpages/ang-public-pages.yaml > deploy.yaml

          - cat deploy.yaml
          - mv deploy.yaml ang-publicpages/deployment/
          - git config --global user.name "varalakshmitangilla"
          - git config --global user.email "varalakshmi.tangilla@veritis.com"
          - git add ang-publicpages/deployment/deploy.yaml
          - git commit -m "Updating newer Image $BITBUCKET_BUILD_NUMBER"
          - git push https://$REPO_A_USERNAME:$REPO_A_APP_PASSWORD@bitbucket.org/$REPO_A_WORKSPACE/$REPO_A_SLUG.git

definitions:
  services:
    docker:
      image: docker:dind
      privileged: true

