<!-- <div class="ey-tile">
    <span class="label">
        title
    </span>
    <button type="button" class="ui-button btn-primary">
        View
    </button>
    <span>
        <button type="button" class="ui-button btn-secondary">
            <i class="fas fa-plus-circle"></i> Add new
        </button>
    </span>
</div> -->

<!-- <div class="row mx-neg-9">
    <div class="col-sm-3 px-9 mb-10">
        
    </div>
</div> -->
<div class="tile">
  <span class="label">
    <figure class="tile-icon">
      <i class="material-icons">{{ icon }}</i>
    </figure>
    {{ label }}
  </span>
  <button
    class="btn btn-warning btn-sm mr-11 t-white fw-b px-15"
    routerLink="{{ listViewAuthority }}"
  >
    View
  </button>
  <button
    class="btn btn-secondary btn-secondary2 btn-sm v-align fw-b px-15"
    routerLink="{{ addNewRouterLink }}"
  >
    <i class="material-icons v-align fs-19">add_circle</i> Add New
  </button>
</div>
