<div class="off-canvas-sidebar">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand nav-logo d-flex align-items-center justify-content-center" href="javascript:;">
                    <img src="{{ logo }}" alt="Clix-logo" style="width: 39px;" /> Sysj
                </a>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter" filter-color="black" style=" background-size: cover; background-position: top center;">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                        <form class="form login-form" [formGroup]="forgotPasswordForm" class="login-form">
                            <div class="card card-login">
                                <div class="card-header card-header-rose clix-bg-primary text-center">
                                    <h4 class="card-title pb-3">Reset password</h4>

                                </div>
                                <div class="card-body ">
                                    <p class="card-description text-center"></p>
                                    <span class="bmd-form-group">
                    <div [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">email</i>
                          </span>
                                </div>
                                <input type="email" name="email" autocomplete="off" formControlName="email" id="church-u-email" required minlength="5" maxlength="50" appInputHandler class="form-control form-control-lg" placeholder="Email...">
                            </div>
                            <div class="error-message pl-5" *ngIf="submitted && f.email.errors">
                                <div *ngIf="f.email.errors.required">
                                    Email must not be empty. Please input email and try again!
                                </div>
                                <div *ngIf="f.email.errors.pattern">Email address is not valid. Email must match "xxx@xxx.x" pattern.
                                </div>
                            </div>
                    </div>
                    </span>
                </div>
                <div class="card-footer flex-column text-center justify-content-center pb-4">
                    <button type="button" class="btn btn-primary mb-4 " (click)="submitEmail()">
                    Submit
                  </button>
                    <p class="fs-16">
                        Looking to create a organization instead? <a href="javascript:void(0)" (click)="mainRoute()">
                      create organization
                    </a>
                    </p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>

<div class="login-wrapper" style="display: none;">
    <div class="login-card">
        <img src="{{ logo }}" alt="Clix-logo" />
        <h2 class="text-center">Reset Password</h2>
        <form [formGroup]="forgotPasswordForm" class="login-form">
            <div [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div class="custom-input--group">
                    <input type="email" name="email" autocomplete="off" formControlName="email" class="custom-input--element" id="church-u-email" required minlength="5" maxlength="50" appInputHandler />
                    <label class="custom-input--label" for="church-u-email">Email</label>
                </div>
                <div class="error-message pl-5" *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">
                        Email must not be empty. Please input email and try again!
                    </div>
                    <div *ngIf="f.email.errors.pattern">Email address is not valid. Email must match "xxx@xxx.x" pattern</div>
                </div>
            </div>
            <button type="button" class="clix-btn clix-btn--primary clix-btn--lg" (click)="submitEmail()">
        Submit
      </button>
            <p class="fs-16">
                Looking to create a organization instead? <a href="javascript:void(0)" (click)="mainRoute()">
          Create Organization
        </a>
            </p>
        </form>
    </div>
</div>